$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
}

#main {
    .col-md-2 {
        padding: 0px;
    }

    .details-link:hover {
        img {
            opacity: 0.5;
        }

        cursor: pointer;
    }

}
.modal-content {
    margin: auto;
    width: 480px;
    border-radius: 100%;

    .modal-body {
        padding: 0px;
        background: transparent;

        img {
            width: 480px;
            height: 480px;
            margin: auto;
            border-radius: 100%;
        }

        .likes {
            position: absolute;
            width: 480px;
            top: 240px;
            color: #DDD;
            font-size: 20px;
            text-align: center;
        }

        .author {
            position: absolute;
            width: 480px;
            top: 400px;
            color: #DDD;
            font-size: 20px;
            text-align: center;
        }
    }
}
