<div id="main">
    <div class="row">
        <div class="col-md-2" ng-repeat="photo in main.photos | orderBy:'likes.count':true | limitTo:24">
            <a class="details-link" ng-click="main.showDetails(photo)">
                <img class="img-responsive" ng-src="{{photo.images.standard_resolution.url}}" alt="">
            </a>
        </div>
    </div>
</div>
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-body">
        <img class="img-responsive" ng-src="{{photo.images.standard_resolution.url}}" alt="">
        <span class="likes"><i class="glyphicon glyphicon-heart"></i> {{photo.likes.count}}</span>
    </div>
</script>
